algoliasearch==2.6.3
algoliasearch-django==2.0.0
asgiref==3.6.0
autopep8==2.0.2
certifi==2024.7.4
charset-normalizer==3.1.0
Django==4.2.16
djangorestframework==3.15.2
idna==3.4
pycodestyle==2.10.0
pytz==2022.7.1
requests==2.32.2
sqlparse==0.5.0
urllib3==1.26.19
